//$(".question-container").html("<p class=\"notice\">Your note will be passed on to the right lawyer, and we'll update you with their response. <a href=\"#\" id=\"close_notice\">Close</a></p>")

alert("Your note will be passed on to the right lawyer, and we'll update you with their response");