.question-chooser
  %table.question_options
    %tbody
      %tr.title_row
        %td{:colspan=>'2'}
          Thanks for your enquiry. You have two options:  
      %tr
        %td
          .question_button
            Pay $27 to have question answered
          .tooltip_pay_wrapper  
            .tooltip_bubble
              Money back guarantee if you're not satisfied
        %td
          .question_button
            Consult live with a relevant attorney
          .tooltip_live_wrapper
            .tooltip_bubble
              Free to start, pay be the minute after first 15-20 minutes
      