#schedule_session.dialog-window
  %h3#overlay_user_name
    %br/
    %span Ask
    %span.lawyer_name
    %span a question.
  %br/
  %textarea#message
  %span.fine-print Sending a message does not form an attorney-client relationship.
  %hr/
  %a.button.blue#send_message_button{:href => "javascript:void(0)"} Send Message