<% if @offerings.blank? %>
  <div style="font-size:1.8em;text-align:center;">
    <p>
      Sorry, no such offerings!<br/>
      Recommend Lawdingo to great lawyers you know.
    </p>
  </div>
<% else %>
  <div class="selected-lawyers-caption">
    <%# <%= selected_lawyers_caption %1> %>
  </div>

  <% @offerings.each do |offering| %>
    <%= render partial: "offerings/offering", locals: { lawyer: Lawyer.find(offering.user.id), offering: offering } %>
  <% end %>
<% end %>

<script>
$('.dialog-opener').dialog();
</script>
