<% if @lawyers.blank? %>
<div style="font-size:1.8em;text-align:center;">
<p>
Sorry, no such lawyers!<br/>

Recommend Lawdingo to great lawyers you know.
</p>
</div>
<%else %>
<% @lawyers.each{|lawyer| %>
    <%= render :partial =>'/lawyer/lawyer', :locals=>{:lawyer =>lawyer} %>
<% } %>

<% end %>

