<% unless @practice_area_specialities.blank? %>
  <li class="practice_area selected">
    <%= link_to "General #{@practice_area.name}" %>
  </li>
  <% @practice_area_specialities.each do |spec| %>
    <%= content_tag_for :li, spec, data: { id: spec.id } do %>
      <% link_to spec.name, "##{spec.name.parameterize}" %>
    <% end %>
  <% end %>
<% end %>
