<div>
    <object id='chatSwf' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' height='100%' width='100%'>
        <param name='src' value='/swf/FlashVarTest.swf'/>
        <param name='flashVars' value='firstname=Nick&lastname=Danger'/>
        <embed name='chatSwf' src='/swf/FlashVarTest.swf' height='100%' width='100%' flashVars='username=5&lawyer=6'/>
    </object>
</div>

