<script src="https://staging.tokbox.com/v0.91/js/TB.min.js" type="text/javascript" 
  charset="utf-8"></script>
  <% #stylesheet_link_tag "tokbox" %>
  
  <div id="opentok_console"></div>
  <div id="links">
        <!-- <input type="button" value="Start Session" class="btn btn-large btn-primary" id ="connectLink" onClick="javascript:connect()" /> -->
  </div>
	<table class="videotable_wrapper">
		<tbody>
		<tr class="video_row">
			<td class="col_chat"></td>
			<td class="col_video">
				<div id="subscribers">
					
				</div>
				<div>
					<div class="from_to_call_wrapper">
						<%= from_to_text %>
					</div>
					<div class="myCamera_wrapper">
						<div id="myCamera" class="publisherContainer"></div>
					</div>
				</div>
			</td></tr>
		<tr class="controls_row">
			<td class="col_chat"></td>
			<td class="col_video">
				<div class='end_session' onClick="javascript:disconnect()">
					
				</div>
				<div class='start_session' onClick="javascript:connect()">
					
				</div>
				<p id="count_up_timer" class="video_total_timer">call duration <span id="time_elapsed">0:00</span></p>
      	<p id="free_time_remaining_wrapper" class="video_free_timer">Free duration remaining: <span id="free_time_remaining">5:00</span>.</p>
      	<p id="paid_time_elapsed_wrapper" class="video_paid_timer">Billing time: <span id="paid_time_elapsed">5:00</span>.</p>
      
			</td>
		</tr>
	</tbody></table>

  <script>

  


    //show('connectLink');
  </script>
