<div style="width:1000px;height:410px;">
<% if @lawyer %>
  <%= render :partial => "flash_player" %>
  <%#= link_to "End Session", new_conversation_path  %>
<% else %>
  No one to chat with!
<% end %>
</div>

