<% options_states_arr = []
  options_states_arr<< ['Any State', 0]
   State.all.each { |state|
   options_states_arr << [state.name, state.id]
   }

  options_pa_arr = []
  options_pa_arr << ['All types', 0]
  PracticeArea.parent_practice_areas.each { |pa|
  options_pa_arr << [pa.name, pa.id]
  }
%>
  <div id="page">
          <div>
                <!-- FILTERS -->
                <div id="filters">

                    <span style="color:black; margin-right: 1em; font-weight:bold;">Find the right lawyer.</span>  State:
                    <span>
                    <%= select_tag('select_state', options_for_select(options_states_arr)) %>
                    </span>
                    Type of law:
                    <span>
                    <%= select_tag('select_pa', options_for_select(options_pa_arr)) %>
                    </span>
                    <span style="padding-left:5px;" id='specialities_container'>
                      <%= select_tag('select_sp', options_for_select([["none", 0]])) %>
                    </span>

                </div>
                <!-- END FILTERS -->

                <!-- RESULTS -->
                <div id="results">
                      <% @lawyers.each{|lawyer| %>
                    <%= render :partial =>'/lawyer/lawyer', :locals=>{:lawyer =>lawyer} %>
                  <% } %>


                </div>
      </div>

</div>
<div id="schedule_session" class="dialog-window">
            <h3 id='overlay_user_name'></h3>
            I’m currently away or in a Lawdingo consultation. Please describe what you’d like to talk about and I’ll get back to you as soon as I can.
            <textarea id='txt_msg' name ='txt_msg'></textarea>
            <span class="fine-print">Please do not include any private or confidential information here.</span>
            <hr>
            <a href="javascript:void(0)" class="button blue" onclick="sendMessage();return false;">Send Message</a>
</div>

<script type="text/javascript">
function sendMessage(){
  close_dialogs();
  var msg = $('textarea#txt_msg').val();
  var l1 = $("#current_lid").val();
  if(msg != "")
  {
    $.ajax({
        url: "/ScheduleSession",
        type:'post',
        data:{email_msg: msg,l2: l1},
        success: function(response){
              if(response == '1')
                alert('Your message has been sent.');
              else{
                alert('Problem sending message. You may not be logged in');
              }
            }
    });
  }else
  {
    alert('You can not send the blank message');
  }
}


$(document).ready(function() {
    $('#specialities_container').hide();
    $('#select_pa').change(function() {
      if($("#select_pa").val() != 0){
        $.ajax({url: '/search/populate_specialities',
          data: 'pid=' + $("#select_pa").val(),
          success: function(data)
          {
            $("#specialities_container").html(data);
            $('#specialities_container').show();
            filterResults();
          }});
        }
        else
        {
          $('#specialities_container').hide();
          filterResults();
        }

    });
  });

  var filterResults = function(){
    $.ajax({
      url: 'search/filter_results',
      data: {state:$("#select_state").val(),pa:$("#select_pa").val(), sp:$("#select_sp").val()},
      success: function(data){
        $('#results').html(data);
      }
    });
  }

  $("#select_state").change(function(){
    filterResults();
  });

</script>

