<% is_client = @user.is_client? %>


<div id="page" class="signup">
  <% if params[:notice].present? %>
    <p class="notice">
      To connect with a lawyer, simply sign up or sign in with Lawdingo.
    </p>
  <% end %>

  <% if is_client %>
    <h1 class="form-header">Start using Lawdingo</h1>
  <% else %>
    <h1 class="form-header">Apply as a Lawyer</h1>
  <% end %>

  <div class="form-wrapper">
    <%= render 'form' %>
  </div>

  <div class="form-wrapper signin">
    <p>Already a Lawdingo member? <%= link_to "Log in", login_path %> now.</p>
  </div>

  <% if is_client %>
    <h3>Lawyers, <%= link_to "apply here", new_lawyer_path %>.</h3>
  <% end %>
</div>

