
<div id="page" class="signup">
<div>
<%= form_tag create_call_path(:lawyer_id =>params[:id]) do %>
    <span class="rate_hint" style="color:black;">Your Phone Number</span><br/>
    <input type="text" name="client_number" placeholder="Phone number" />
    <%= submit_tag "continue", :class=>"button" %>
<% end %>
</div>
</div>

