#state_and_practice_area_validation.dialog-window
  %h3#overlay_user_name
    %span Connect with
    %span.lawyer_name
  %br/
  - if @states
    .state_and_practice_area_validation_state
      Your state:
      %br
      .state_and_practice_area_validation_state_bot
        = select_tag :state_name, options_from_collection_for_select(@states, "id", "name", @auto_detected_state.try(:id)), :prompt => "Select state", :required => true, :class => 'select_medium required'
  - if @practice_areas
    .state_and_practice_area_validation_legal_matter
      Legal matter:
      %br
      .state_and_practice_area_validation_area_bot
        = select_tag :practice_area, options_from_collection_for_select(@practice_areas, "id", "name"), :required => true, :prompt => "Type of law", :class => 'select_medium required'

  %span.fine-print Just to clarify, what state are you in what kind of law does this pertain to?
  %hr/
  %button.button#continue_button Continue
  - if !logged_in?
    .offline_message
      You'll sign up on the next step
  %br/
  %span.fine-print.red#state_and_practice_area_validation_warning
