$border_color_1: #FCFDFD;
$border_color_2: #F0F4F7;

body.attorneys.directory{
  .content_outer{
    width: 990px;
    margin: 21px auto;
    min-height: 300px;
    .content{
      .list{
        width: 990px;
        float: left;
        background: white;
        border: 1px solid #D0D2D5;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        h1{
          text-align: center;
          border-bottom: 1px solid #D0D2D5;
          font-size: 14px;
          color: #4D6B94;
          padding: 12px 0;
          font-weight: bold;
          background: $border_color_1;
          background: -moz-linear-gradient(top, $border_color_1 0%, $border_color_2 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $border_color_1), color-stop(100%, $border_color_2));
          background: -webkit-linear-gradient(top, $border_color_1 0%, $border_color_2 100%);
          background: -o-linear-gradient(top, $border_color_1 0%, $border_color_2 100%);
          background: -ms-linear-gradient(top, $border_color_1 0%, $border_color_2 100%);
          background: linear-gradient(to bottom, $border_color_1 0%, $border_color_2 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$border_color_1, endColorstr=$border_color_2,GradientType=0 );
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        .item{
          float: left;
          width: 215px;
          padding: 10px 0 0 30px;
          font-size: 14px;
        }
        .pager{
          padding: 20px 0;
        }
      }
    }
  }
}
