- title @title
#page.about
  %div
    .nav
      %h1 About Lawdingo
      %span Also see:
      = link_to "Lawyer FAQs", about_attorneys_path
    .content
      %p Lawdingo is a market for virtual legal consultations.
      %p People who find themselves in need of a lawyers guidance use Lawdingo to find the right lawyer for them, and then talk to them immediately on Lawdingo over video chat if they're available now or schedule a consultation for later if not. 
      %p Lawyers love Lawdingo because it cuts down on the overhead associated with office space and administrative assistance so that they can pass on savings to you and become competitive in an increasingly tough market for small practice lawyers.
      %p Lawdingo is great for the remote delivery of legal advice and legal services, and is also great for the interviewing attorneys who can help you in longer term engagements such as litigation, self-representation guidance and outside counsel for small businesses.
      %p Due entirely to efficiency, any information-based product will eventually be discovered, delivered and paid for entirely online. There are a handful of huge professional services - legal services being foremost amongst them - whose product amounts to information in the form of advice or documents. The vision of Lawdingo is the be the default place for normal, time-strapped people to consume these services, freeing providers from the grip of large firms, and affording choice and convenience to consumers.
      %p Lawdingo, Inc. is based in San Francisco, has legal representation from DLA Piper, and is founded by Nikhil Nirmel, who was formerly the research lead at Yelp and Yodle, and who holds a BS in Economics from Penn's Wharton School.
      %p 
        %strong
          For support, press, or other inquiries, please contact us at 
          %a{:href => 'mailto:info@lawdingo.com'}info@lawdingo.com 
          or 415-234-3464.
      %p Lawdingo helps you find the right attorney when you nee and speak to them or a schedule a virtual consultation right away. Using video or voice chat, you can speak to an attorney through Lawdingo an attorney over video or voice chat for a virtual consultation experience that feels like you're sitting right in their office.

      %p Using video and voice chat to connect you with lawyer, Lawdingo is a market and platform for virtual legal advice and
    .clear