<% title @title %>
<div id="page" class="about">
            <div>
                <div class="nav">
                    <h1>About Lawdingo</h1>
                    <span>Also see:</span>
                    <%= link_to "Lawyer FAQs", about_attorneys_path %>
                </div>
                <div class="content">
                  <p>Lawdingo is the one place you go when you need legal guidance.</p>

                  <p>Lawyers already work with clients remotely by phone, Skype and email. We're just structuring “working with a lawyer” process, and putting every part it in one place. It's not that interesting actually. But it's a heck of a lot easier than whatever the alternative is.</p>

                  <p>Lawdingo was founded in 2012 by Nikhil Nirmel, who was formerly the business intelligence lead at Yelp and holds a BS in Economics from Penn's Wharton School.</p>

                  <p><strong>Contact us at info@lawdingo.com or 415-234-DINGO (3464) with any rants or questions.</strong></p>

                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- END CONTENT -->
        

        

        

        
