<% title @title %>
<div id="page" class="about">
            <div>
                <div class="nav">
                    <h1>About Lawdingo</h1>
                    <%= link_to "For Clients", about_page_path %>
                    <span>For Attorneys &gt;</span>
                </div>
                <div class="content">
                    <h3>What?</h3>
                    <p>Lawdingo is way to get new clients, and deliver and
                    bill for your legal services online. Lawdingo is free
                    for lawyers and has approval from state bars.</p>

                    <h3>Why?</h3>
                    <p>Paying for leads is a waste of money. Many clients are
                    put off by the inconvenience and cost unpredictability
                    of conventionally retaining a lawyer.</p>

                    <h3>How?</h3>
                    <p>You set your rate. Log in when you're available. When a
                    new client is interested in a consultation, you'll be notified.
                    Start billing when you're sure you can help the client.
                    We verify bar memberships and standing with state bars.</p>

                    <h3>Who?</h3>
                    <p>Clients who contact you are sourced online and word of mouth,
                    through means that comply with legal advertising regulations.
                    For practice areas that require clients to work with attorneys
                    in their state, we only bring you clients who are in a state you
                    are licensed in.</p>

                    <p>Lawdingo was founded by Nikhil Nirmel, a SF-based web
                    entrepreneur who led business intelligence at <a href="http://www.yelp.com/">Yelp</a> and
                    <a href="http://www.yodle.com/">Yodle</a> and graduated from <a href="http://www.upenn.edu">Penn</a>'s <a href="http://www.wharton.upenn.edu/">Wharton School</a>.</p>

                    <p>We can be contacted at <a href="mailto:sup@lawdingo.com">sup@lawdingo.com</a>, or 646.239.7326.</p>

                </div>
                <div class="clear"></div>
            </div>
        </div>

