<div id="page" class="about">
            <div>
                <div class="nav">
                    <h1>About Lawdingo</h1>
                    <span>For Clients &gt;</span>
                    <%= link_to "For Attorneys", about_attorneys_path %>
                </div>
                <div class="content">
                    <h3>What?</h3>
                    <p>Lawdingo is a market for legal advice delivered
                    by lawyers over video chat, billed by the minute.</p>

                    <h3>Why?</h3>
                    <p>No one wants to pay a hefty retainer and drive
                    to a lawyers office for straightforward legal needs.</p>

                    <h3>How?</h3>
                    <p>All video consultations start free. Start a paid session
                    when you're ready, and pay for the time you use with
                    the lawyer.</p>

                    <h3>Who?</h3>
                    <p>All lawyers on Lawdingo are in good standing with their state bar.</p>

                    <p>Lawdingo was founded by Nikhil Nirmel, a SF-based web
                    entrepreneur who led business intelligence at <a href="http://www.yelp.com/">Yelp</a> and
                    <a href="http://www.yodle.com/">Yodle</a> and graduated from <a href="http://www.upenn.edu">Penn</a>'s <a href="http://www.wharton.upenn.edu/">Wharton School</a>.</p>

                    <p>We can be contacted at <a href="mailto:sup@lawdingo.com">sup@lawdingo.com</a>, or 646.239.7326.</p>

                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- END CONTENT -->

