- title @title
#page.about
  %div
    .nav
      %h1 About Lawdingo
      %span Also see:
      = link_to "Lawyer FAQs", about_attorneys_path
    .content
      %p Lawdingo is a place for people to connect with lawyers virtually.
      %p Using video chat, phone, and text-based consultations, Lawdingo makes it easy for clients to have initial consultations with attorneys with relevant experience and licensure.
      %p The mission of Lawdingo is to bring the cost of legal services down, and to increase the geographical reach of small practice lawyers.
      %p The company is founded by Nikhil Nirmel, formerly business intelligence lead at Yelp and Yodle, and a graduate of Penn's Wharton School. Legal representation from DLA Piper.
      %p 
        %strong
          Inquiry?
          %a{:href => 'mailto:info@lawdingo.com'}info@lawdingo.com 
          or 415-234-DINGO (3464).
    .clear