<% title @title %>
<div id="page" class="about">
            <div>
                <div class="nav">
                    <h1>About Lawdingo</h1>
                    <span>Also see:</span>
                    <%= link_to "Lawyer FAQs", about_attorneys_path %>
                </div>
                <div class="content">
                  <p>Lawdingo is a market for online legal advice over video chat.</p>

                  <p>Lawdingo facilitates the entire process of working with a lawyer without making you leave your couch. People use Lawdingo to find a lawyer, consult with them for free, and then pay for advice or services in the most convenient, transparent and affordable way imaginable. Simply come to Lawdingo and indicate the state and practice area that is relevant to your current need. You'll see the lawyers that are available immediately for a video or voice chat consultation or for an appointment later in the week. To note, Lawdingo is not intended to help you find a local lawyer, or create legal documents yourself without a lawyer.</p>

                  <p>The guiding vision of Lawdingo is that professional services whose product is essentially information are most efficiently delivered online. A hybrid of an online directory, an online communication and payments platform, and an online community of lawyers and clients is in turn the most efficient way to deliver on this vision.</p>

                  <p>Based in San Francisco, Lawdingo was founded by Nikhil Nirmel, a technology entrepreneur who was formerly head of research at Yelp.</p>

                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- END CONTENT -->

