%ul.share
  %li.facebook
    <fb:like send="false" layout="button_count" width="50" show_faces="false" href="#{attorney_url(@attorney, slug: @attorney.slug)}"></fb:like>
  %li.linkedin
    <script type="IN/Share"></script>

