%ul.share
	%li.facebook
		.fb-like{'data-href' => attorney_url(@attorney, slug: @attorney.slug), 'data-send' => :false, 'data-layout' => :button_count, 'data-width' => 50, 'data-show-faces' => :false}
	%li.linkedin
		%script{:type => "IN/Share"}
