<% title "#{@attorney.full_name} — #{@attorney.licenced_states.join(', ')} lawyer advising on #{@attorney.areas_human_list} on Lawdingo" %>

<div id="results">
  <%= render partial: "lawyer/lawyer", locals: { lawyer: @attorney } %>
</div>
