@mixin error_base
{
  .field_with_errors{
    input{
      border:1px solid #feacac;            
      -moz-box-shadow:0px 0px 3px 3px #FDE6E3;
      -webkit-box-shadow:0px 0px 3px 3px #FDE6E3;
      box-shadow:0px 0px 3px 3px #FDE6E3;
    }
    input.email, input.passw{
      margin-bottom:0;
    }
    input.phone{
      margin:10px 0;
    }
    label.message{
      -moz-box-shadow:0px 0px 5px 1px #ACACAC;
      -webkit-box-shadow:0px 0px 5px 1px #ACACAC;
      box-shadow:0px 0px 5px 1px #ACACAC;
      border:1px solid #c56464;
      color:#882b2b;
      background:image-url('error_notice_bg.png')repeat-x;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding:5px;
      margin-top:2px;
      font-size: 10px;
    }
    .error_notice{
      float: right;
      margin-right: 35px;
      label{
        float:right;
      }
      .arrow{
        margin-top: -5px;
        margin-left:60px;
        background:image-url('error_tooltip_arrow.png') no-repeat;
        display:block;
        width:11px;
        height:9px;
        position:absolute;
      }
    }
  }
}

.question-container{
  display: block;
  width: 76%;
  margin-bottom: 1em;
  float: right;
  overflow: hidden;
  
  .question_body_wrapper{
    width: 567px;
    float: left;
  }
  @include error_base;
  
  #question_body {
    &:focus {
      outline: none;
    }

    border: 1px solid #A8A8A8;
    display: block;
    
    font-size: 18px;
    height: 33px;
    line-height: 24px;
    padding: 7px 0 5px 10px;
    margin-left: 0;
    margin-right: 0;
    background: white;
    color: #393C3D;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    -o-box-shadow: inset -1px 1px 1px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: inset -1px 1px 1px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: inset -1px 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow: inset -1px 1px 1px 0 rgba(0,0,0,0.1);
    
    border-width: 1px 0 1px 1px;
    -moz-box-shadow: 0 0 5px #a8a8a8 inset;
    -webkit-box-shadow: inset 0 0 5px #a8a8a8;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: bold;
    font-family: inherit;
    letter-spacing: -0.5px;
   }

}


.start_off_info
{
  .question_body_wrapper{   
     float: left;
     width: 81%;
   }
  .new_question#new_question
  {
    @include error_base;   
  }
  
}


.question-chooser
{
  background: #f8fcff; /* Old browsers */
  background: -moz-linear-gradient(top, #f8fcff 1%, #e6f5ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f8fcff), color-stop(100%,#e6f5ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8fcff 1%,#e6f5ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8fcff 1%,#e6f5ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8fcff 1%,#e6f5ff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f8fcff 1%,#e6f5ff 100%); /* W3C */
  border: 1px solid #babbbe;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
  margin: 30px auto;
  width: 710px;
  height: 190px;
  table.question_options{
    width: 100%;
    margin: 0px;
    border-spacing: 0px;
    padding-top: 20px;
    
    .option_thanks{
      font-size: 15px;
    }
   
    tr.title_row{
      height: 47px;
      background-color: #e2f1f8;
      text-align: center;
      font-weight: bold;

    }
    tr td{
      vertical-align:middle;
      font-size:13px;
      padding:5px 5px 5px 10px;
      color:#5d5e5f;
     
    }
    
    .question_button{
      width: 310px;
      height: 40px;
      background-color: #eeeeee;
      color: #4c4c4c;
      font-weight: bold;
      text-align: center;
      line-height: 40px;
      border: 1px solid #babbbe;
      margin: 30px auto 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;  
      cursor: pointer;
    }
  }  
}



.tooltip_live_wrapper{
  width: 290px;
  position: relative;
  margin: 0 auto;
}

.tooltip_pay_wrapper{
  width: 230px;
  position: relative;
  margin: 0 auto;
}