<div id="page" class="framey-video">
  <div>
    <%= render partial: "lawyer/menu", locals: { lawyer: current_user } %>

    <h2>Introduce yourself to prospective clients in a video of up to two minutes long.</h2>

    <div class="recorder-wrapper">
      <input id="FrameyRecorder" type="video" data-params="{ api_key: '<%= Framey::API_KEY %>' }" />
    </div>
  </div>
</div>

<%= javascript_tag do %>
  // Id of framey input[type="video"]
  var recorderId = "FrameyRecorder";

  // Set user id as a creator_id
  Framey.observe(recorderId, "recordClicked", function(data) {
    Framey.getRecorder(recorderId).setAllSessionData({"creator_id": <%= current_user.id.to_s if current_user.present? %>});
  });
<% end %>
