.free_button_outer
  = link_to !lawyer.is_available_by_phone? ? "#" : start_phone_consultation_path(lawyer), :class=>'free' do
    %p
      - if lawyer.is_available_by_phone?
        Talk Now
      - else
        - if lawyer.daily_hours.present?
          Book Appt.
        - else
          Send Note
  .free_dropdown{:href=> "#"}
  .button_tooltip
    .button-content
      %ul
        = render(:partial => "lawyer/online_icons_list", :locals => {:lawyer => lawyer}) 