.free_button_outer
  = link_to !lawyer.is_available_by_phone? ? "#" : start_phone_consultation_path(lawyer), :class=>'free' do
    %p
      - if lawyer.is_available_by_phone?
        Talk Now
      - else
        - if lawyer.daily_hours.present?
          = content_tag :div, "Book Appt.", :onclick=>'if ($(this).parents(".parent_container").find(".text a").attr("href").length > 1) {window.location.href= $(this).parents(".parent_container").find(".text a").attr("href")} else {$(this).parents(".parent_container").find(".text a").trigger("click");} '
        - else
          Send Note
  .free_dropdown{:href=> "#"}
  .button_tooltip
    .button-content
      %ul
        = render(:partial => "lawyer/online_icons_list", :locals => {:lawyer => lawyer}) 