input[type="text"]#appointment_contact_number{
  background: url("phone_icon.png") no-repeat 98% center white;
  font-size: 13px;
  font-family: arial, verdana, tahoma;
  margin: 0 15px;
  padding: 8px;
  width: 150px;
  border: 1px solid #B8B8B8;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  
 }
