// Place all the styles related to the DailyHours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.daily_hours {
  div#page > div {
    padding: 30px 60px;
    form ul li {
      font-size: 16px;
      margin-bottom: 10px;
      b {
        width: 100px;
        float: left;
        line-height: 20px;
      }
      select {
        width: 150px;
        font-size: 16px;
        margin: 0 10px;
      }
    }
  }
}
