@mixin rounded( $radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

#dialog-overlay {
    background-color: #000;
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    filter: Alpha(opacity=60);
    z-index: 101;
    display: none;
}

.dialog-window {
    position: absolute;
    top: 200px; left: 50%;
    margin-left: -180px;
    margin-top: -180px;
    display: inline-block;
    @include rounded( 6px );
    background-color: #efefef;
    width: 360px;
    height: 407px;
    box-shadow: 0px 0px 16px #444;
    z-index: 10;
    display: none;
    padding: 0 0 20px 0;
    font-size: 1.45em;
    z-index: 200;
    > h3 {
        font-weight: normal;
        font-size: 1.1em;
        border-bottom:1px solid #d6d6d6;
        padding: 17px 0 17px 15px;
        margin:0;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-topright: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background: #fbfbfb; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #fbfbfb 0%, #ececec 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fbfbfb 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fbfbfb 0%,#ececec 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fbfbfb 0%,#ececec 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fbfbfb 0%,#ececec 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#ececec',GradientType=0 ); /* IE6-8 */
    }
    > div {
        overflow: auto;
        height: 355px;
        margin: 10px 0px;
        padding:0 20px;
        > ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
    }

    hr {
        margin: 8px -20px 8px;
        border-color: #fff;
    }

    .dialog-close {
        background: url("modal_close.png") no-repeat scroll center center transparent;
        height: 30px;
        margin: 0;
        width: 30px;
        position: absolute;
        padding:0;
        top: -16px;
        left: -16px;
        z-index:10;
        cursor: pointer;
    }

    .button { margin-top: 6px; margin-left:16px;}
    .lawyer_name {
      // font-style: italic;
    }
}

.leveled-list {
    .sub {
        font-size: 0.9em;
        padding-left: 32px;
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
        input[type="text"] {
          border: solid 1px #B8B8B8 !important;
          border-radius: 2px !important;
          -moz-border-radius: 2px !important;
          -webkit-border-radius: 2px !important;
          width: 40% !important;
          font-size: 1em !important;
          padding: 2px !important;
          margin-bottom: 0 !important;
        }
    }
}
.dialog-window#practices{
  height:420px;
}
