body.inquiries {
  .inner {
    text-align: left;
    font-size: 1.4em;
    padding-bottom: 32px;
    width: 720px !important;
  }

  p.question {
    font-size: 1.2em;
  }

  small {
    display: block;
    font-size: 0.95em;
    margin: 0.3em 0.1em;
    color: #666;
  }

  .label {
    // font-weight: bold;
    color: #666;
    margin-left: 0.1em;
  }

  ul.details, ul#current_bids {
    position: relative;
    list-style: none;

    li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      *display: inline;
    }
  }

  ul#current_bids {
    display: inline;

    li {
      margin: 0 0.25em;
    }
  }

  ul.details {
    position: relative;
    display: block;
    list-style: none;

    li {
      margin: 5px 5px 5px 0;
      border-right: 1px solid #ccc;
      padding-right: 1em;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }

  .bids {
    position: relative;
    display: block;
    margin-top: 1.4em;
  }
}
