@mixin inline-block {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

body.lawyers{
  
  #results {
    width: 760px;
    margin: 1.4em auto 3.33em auto;
  }
  
  #results > .row {
    border: none;
  }
  
  &.new{
    a.dialog-opener{
      float:left;
      margin-left: 10px;
      font-size:11px!important;
      color:#4c4c4c;
      padding:6px 8px;
      border:1px solid #b8b8b8;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: #f6f6f6; /* Old browsers */
      background: -moz-linear-gradient(top,  #f6f6f6 0%, #e8e8e8 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #f6f6f6 0%,#e8e8e8 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
    }
    #div_practice_areas{
      ul.pa_list{
        padding-left: 20px;
      }
    }
  }
  
 .back-link {
    font-size: 15px;
    display: block;
    margin-bottom: 0.5em;
    padding-left: 10px;
  }

  .details {
    margin: 3.5em 0 0 1em;

    .yelp-rating-container {
      display: block;
      position: relative;
      padding-left: 1.3em;

      span.reviews-count {
        display: block;
        font-size: 1.25em;
        line-height: 1.4;
      }
    }

    .yelp-reviews-container {
      display: block;
      position: relative;
      margin: 1.75em 0 1.667em 0;
    }

    .yelp-reviews {
      display: block;
      position: relative;
      list-style: none;
      padding-left: 1.25em;

      li {
        position: relative;
        text-align: left;
        width: 100%;
        margin: 1.4em 0;

        .photo, .details {
          display: inline-block;
          vertical-align: top;
        }

        .photo {
          width: 100px;
          margin-right: 18px;
        }

        .details {
          width: 80%;
          margin: 0;

          p {
            margin: 5px 0;
          }

          .footnote {
            font-size: 0.75em;
          }
        }
      }
    }

    #intro_video {
      display: block;
      margin: 1em 0 2em 0;
      position: relative;
    }

    .columns {
      position: relative;
      zoom: 1;
      width: 100%;
      
      .column {
        @include inline-block;
        vertical-align: top;
        width: 40%;
        margin-right: 4em;
      }
    }

    h3 {
      font-size: 1.83em;
      margin: 0 0 0.833em 0;      
    }

    h4 {
      font-size: 1.6em;
      margin: 0.5em 0;
    }

    ul {
      list-style-type: square;
      padding-left: 2em;
      font-size: 1.5em;
      margin-bottom: 1em;
      position: relative;
    }
  }

  .payment-details {
    h2 {
      font-size: 1.85em;
      margin: 0 0 0.333em 0; 
    }

    p {
      font-size: 1.6em;
      margin: 0 0 1em 0;
    }

    form {
      position: relative;
      display: block;
      font-size: 1.4em;

      label {
        display: block;
      }
    }
  }  
}

.edit_lawyer h2{
  color: #1B1A1A !important;
}

body.call_payment {
  .page-body {
    font-size: 12px;
    border: 1px solid #999;
    width: 820px;
    margin: 20px auto !important;
    border-radius: 6px;
    padding: 20px 40px !important;
    position: relative;
    overflow: hidden;

    &>h1.payment-notice {
      font-size: 18px !important;
      margin-bottom: 0.75em;
      font-weight: 500 !important;
    }

    &>h2.payment-notice {
      color: #222;
      font-size: 16px !important;
      font-weight: normal;

      strong {
        font-weight: bold;
      }
    }
  }

  #card_details {
    width: 100%;
  }

  .card-details-wrapper {
    background-color: #ececec !important;
    border-radius: 4px;
    padding: 0 !important;
    margin: 1.2em 0 0 0;
    width: 100%;

    label {
      display: inline-block;
      margin-right: 8px;
    }

    label[for="card_month"] {
      margin-right: 30px;
    }

    .input {
      display: block;
      margin: 4px 0;
    }

    .string input {
      font-family: arial, verdana, tahoma;
      width: 25%;
      border: 1px solid #B8B8B8;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      font-size: 1em;
      margin: 0 0 10px 0;
      padding: 8px;
    }

    .short input {
      width: 10%;
    }

    .inline {
      display: inline;
    }

    .inline-block {
      display: inline-block;
      width: 72%;
    }

    .cards-logos, .sealed {
      position: relative;
      display: block;
    }

    .cards-logos {
      left: 112px;
      margin-bottom: 1em;
    }

    .sealed {
      left: 121px;
      margin-bottom: 1.2em;
    }

    .collection select {
      background: url("/assets/select_bg.png") no-repeat;
      width: 197px;
      height: 28px;
      font-size: 13px;
      padding: 5px 5px 5px 10px;
      margin-top: 4px;
      color: #404040;
      border: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      overflow: hidden;
    }

    .collection select#card_month {
      margin-right: 12px;
    }
  }

  .card-details {
    padding: 10px 15px 15px 20px;
  }

  input.button {
    margin-top: 1em;
  }

  #stripe_error {
    display: block;
    font-size: 1em;
    margin-top: 1.85em;
  }
}

#inquiries_wrap{
  color: #313131;
  h1 {
    font-size: 24px;
  }
  
  h2{
    font-size: 23px;
  }
  .question_desc a{
      font-size: 15px;
      border: none !important;
      margin-bottom: 10px;
  }
  
  .question_info{
    font-size: 12px;
    padding: 5px;
    .grey_box{
      color: #4C4C4C;
      border: 1px solid #B8B8B8;
      padding: 10px 10px;
      background: #F6F6F6;
      display: inline-block;
    }
    
    .likely_pa{
      margin-left: -4px;
    }
  }
  
  .answers_container{
    margin-top: 20px;
    margin-bottom: 45px;  
  }
  .answer_heading{
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .responses_heading{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #answer_body {
    width: 350px;
    height: 100px;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 10px;
    border: 1px solid #B8B8B8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #f6f6f6;

  }
  
  .answered_by{
    margin-bottom: 5px;
  }
  .answered_by a{
    font-size: 15px;
    color: #2491FF !important;
    border: none;
    font-weight: bold;
  }
  
  .otheranswer_body{
    font-size: 13px;
    margin-bottom: 15px;
    width: 700px;
  }
  
  .profile_inquiry_title{
    font-size: 23px;  
    font-weight: bold;
  }
  
  table.inquiries_list{
    width: 757px;
    margin-top: 20px;
    margin-left: -40px;
    margin-bottom: 30px;
    border: 0;
    border-spacing:1px;
    border-collapse:collapse;
    tr{
      height: 45px;
      line-height: 45px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
    tr:hover{
      background-color: #f4f5f7;
      
      td{
        border-top: 1px solid #B8B8B8 !important;
        border-bottom: 1px solid #B8B8B8 !important;
      }
      td.arrow_col{
        border: none;
      }
      .arrow{
        background-image: url(blue_right_arrow.png);
        width: 11px;
        height: 11px;
      }
      .question_desc a{
        color: #0074d3 !important;
        font-weight: bold;
      }
      
    }
    
    .arrow_col{
      padding-left: 40px;
      vertical-align: middle;  
      width: 50px;
    }
    .arrow{
      background-image: url(grey_right_arrow.png);
      width: 11px;
      height: 11px;
    }

  }
}

