// Place all the styles related to the message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#schedule_session {
  padding: 0px 20px 20px 20px;
  width: 500px;
  position:fixed;
  height: auto;
  margin-left: -250px;
  margin-top: -150px;
  z-index: 102;
  textarea { 
    width: 100%; 
    height: 140px; 
    margin: 4px 0px;
  }
  .fine-print { 
    font-size: 0.8em; 
  }
  .schedule_session_state{
    padding-left: 20px; 
    height: 55px; 
    float: left;
    .schedule_session_state_bot{
      margin-top:5px; 
    }
  }
  .schedule_session_legal_matter{
    height: 55px; 
    padding-left: 130px; 
    .schedule_session_area_bot{
      margin-top:5px; 
    }
  }
  #schedule_session_warning{
    margin-top: 10px;
    display: block;
  }
}

div.description{
  form.new_message{
    #message_body{
      font-size:14px;
      width: 275px;
      padding: 8px;
      background-color: #f6f6f6;
      float:left;
      margin: 15px 0;
      color: #393C3D;
      display: block;
      float: left;
      border: 1px solid #AAAFB8;
      border-right: 0;
      background-color: #F6F6F6;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
      -moz-box-shadow: inset 0px 1px 2px #e3e3e3;
      -webkit-box-shadow: inset 0px 1px 2px #E3E3E3;
      box-shadow: inset 0px 1px 2px #E3E3E3;
      
    }
    
    #message_body:focus{
          background-color:#fff;
          outline: none;

        }
    #message_submit_button{
      background-color: #dbe2e8;
      color: #5e656b;
      border:none;
      border: 1px solid #aaafb8;
      padding: 8px;
      font-size:14px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      margin: 15px 0;
    }
  }
}