@mixin rounded( $radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin inline-block {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

body.sessions.new{
  #page.signup{
    input[type="text"].email{
      background:url('email_icon.png') no-repeat 98% center white;
    }
    input[type="password"].passw{
      background:url('password_icon.png') no-repeat 98% center white;
    }
  }
}


body.users.home {
  #page > div {
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  .page {
    margin-bottom: 4em;

    .filters {
      padding-top: 44px;

      .input {
        display: block;
        margin-bottom: 2.1667em;

        label {
          font-size: 1.5em;
          margin-bottom: 2px;
          display: block;
        }
      }
    }
  }
}

#page {

    padding: 15px 0px 5px;

    > div {
        border: solid 1px #b8b8b8;
        background-color: #fff;
        @include rounded( 8px );

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    .session-complete {
        text-align: left;
        font-size: 1.2em;
        width: 950px;
        height: 450px;
        color: #272727;
        
        .summary_column {
            float: left;
            width: 320px;
            height: 450px;
            border-right: 1px solid #EAEAEA;
            h3{
              margin-left: 28px;
              margin-top: 28px;
            }
            .summary-details{
              li{
                border: 1px solid #EAEAEA;
                height: 44px;
                line-height: 44px;
                padding-left: 28px;
                margin: 0;
              }
              
              li:nth-child(odd) {
                background-color: #f4f5f7;  
              }
            }
            
            .session_restart_wrapper{
              padding-left: 28px;
              margin-top: 32px;
              a{
                height: 38px;
              }
              
            }
            
            .navigation-links{
              margin-top: 22px;
              padding-left: 28px;
              li {
                padding-left: 24px;
                background: url(right_arrow.png) left no-repeat;
                a {
                  color: #1076e8;
                  font-size: 13px;
                }
              }
            }
        }
        
        .tellus_column {
            float: left;
            padding-left: 30px;
            
            label{
              font-weight: bold;
            }
            
            h3{
              margin-top: 28px;
            }
            
            .stars_wrapper {
              margin-top: 26px;
              margin-bottom: 26px;
              line-height: 19px;
            }
            
            .purpose_wrapper{
              line-height: 19px;
            }
            
            .body_wrapper{
              line-height: 17px;
            }
            
            input, textarea{
                width: 420px;
              }
            .button {
              width: 192px;
              height: 40px;
            }
        }
   

          
    }
    

    .inner {
        width: 620px;
        margin: 20px auto;

        h2, h3 {
            font-weight: normal;
        }

        h3 {
            font-size: 1.5em;
            display: inline-block;
            margin: 8px 0px;
        }

        &.agreement {
            textarea {
                width: 100%;
                height: 320px;
            }

            input[type=submit] {
                display: block;
            }
        }

        
    }


    .columns {
        padding: 16px;
        font-size: 1.35em;
        &>.center { text-align: center; }
        &>.left { float: left; }
        &>.right { float: right; }
        &>.left, &>.right { width: 24%; }
    }

    #filters {
        text-align: center;
        background-color: #EFEFEF;
        border-bottom: 1px solid #B8B8B8;
        @include rounded( 8px 8px 0 0 );
        color: black !important;
        font-size: 1.65em;
        height: 40px;
        line-height: 40px;
        padding: 0 12px;

        span > select {
          margin-right: 1.1667em;
        }
    }

    &.session-summary {
        > div {
            padding: 30px 60px;
            font-size: 1.4em;
            min-height: 350px;
            > ul {
                li {
                    display: inline;
                    font-size: 1.15em;
                    margin-right: 8px;
                    font-weight: bold;
                    a { font-weight: normal; }
                }
            }

            h3 { color: #f00; }
            p { font-size: 1.1em; }
        }

        table.summary {
            text-align: left;
            width: 100%;
            margin-bottom: 20px;
            .total {
                font-weight: bold;
            }
        }
    }

    &.about {
        > div {
            background-color: transparent;
            border: none;
            padding: 40px 0px;
            font-size: 1.5em;
            .nav, .content {
                float: left;
            }

            .nav {
                background:#fff;
                border:1px solid #d0d2d5;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                width: 200px;
                padding:18px 20px;
                h1 {
                    font-weight: normal;
                    margin: 0px;
                }
                span{
                  color:#1b1b1b;
                  font-weight:bold;
                }
                span, a {
                    font-size: 13px;
                    display: block;
                    margin: 12px 0px;
                    border-bottom:0;
                }
                a{
                  color: #1076e8;
                }
            }
            .content_outer{
              background:url('about_cont_border_bg.png') repeat;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              padding:5px;
              border:1px solid #976941;
              margin-left:20px;
              float:left;
            }
            .content {
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background:url('about_cont_bg.png') repeat;
                font-size: 0.9em;
                width: 635px;
                padding:16px 25px;
                h3 { 
                  margin: 0px; 
                  color:#313131;
                  font-size:13px;
                }
                h1{
                  font-size:23px;
                  color:#3b454f;
                  font-weight:normal;
                  text-align:center;
                }
                p{
                  color:#3f3f3f;
                  font-size:13px;
                }
                a{
                  color:#1076e8;
                  border-bottom:0;
                }
            }
        }
    }
    &.home {
        > div {
            border: none;
            background: transparent;
            padding: 50px 0px;
        }

        .image-carousel {
          float: right;

          .carousel-image {
            text-align: center;
          }
        }

        #splash {
            float: left;
            width: 50%;
            padding: 60px 0px 0px 12px;
            text-align: center;
        }
    }

    &.signup, &.payment, &.lawyer_subscribtion, &.apply-form-wrapper, &.call-payment {
        > h3 {
            text-align: center;
            font-weight: normal;
            margin: 4px 0px 20px 0px;
            font-size: 1.5em; 
        }


        > div {
            width: 416px;
            padding: 20px 45px;
            margin-bottom: 25px;
        }

        form {
            > * { margin: 0px 0px 12px 0px; }

            .field_with_errors {
              display: inline-block;
              // margin: 0 0 0 -8px !important;
            }

            label.message {
              color: #c00;
              display: inline-block;
            }

            .dialog-window {
              margin-left: -180px;
              margin-top: -180px;
              // display: inline-block;
              z-index: 300;
            }


            #lawyer_rate, #lawyer_hourly_rate {
              width: 120px !important;
            }

            .rate_hint {
              display: inline-block;
              margin-right: 20px;
              font-size: 1.5em;
              color: #B8B8B8;
            }

            input[type=text], input[type=password],input[type=email],input[type=number], textarea {
                font-family: arial, verdana, tahoma;
                width: 100%;
                border: 1px solid #B8B8B8;
                @include rounded( 4px );
                font-size: 1.5em;
                margin-bottom: 10px;
                padding: 8px;
            }

            a {
                display: block;
                font-size: 1.63em;

                &.button {
                  font-size: 1.3em;
                  text-align: left;
                  letter-spacing: normal;
                }
            }

            .file_select_wrapper {
              width: 100%;
              position: relative;
              zoom: 1;
              display: block;
              letter-spacing: 0;

              .file_select_value, .file_select_button {
                @include inline-block;
                letter-spacing: normal;
              }

              .file_select_value {
                font-size: 1.16667em;
                color: #222;
                padding: 2px;
                background-color: #f7eec6;
                @include rounded(3px);
              }
            }

            .file_select_button {
              overflow: hidden;
              cursor: pointer;
              font-size: 13px;
              position: relative;
              margin: 0 1em 0.5em 0;

              ins {
                text-decoration: none;
                cursor: pointer;
              }

              input[type="file"] {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                -moz-opacity: 0;
                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
              }
            }

            ul.name_fields {
              letter-spacing: 0;
              position: relative;
              list-style: none;
              padding: 0;
              // margin-bottom: 0;
              width: 100%;

              li {
                @include inline-block;
                vertical-align: top;
                letter-spacing: normal;
                width: 148px;
                margin-right: 24px;

                &.last-child {
                  margin-right: 0 !important;
                }

                input[type="text"] {
                  margin-bottom: 0;
                }

                label.message {
                  margin-top: 10px;
                }
              }
            }

            select{
              height: 37px;
              font-size: 13px;
              padding: 5px 5px 11px 10px;
              margin-top: 4px;
              margin-bottom:10px;
              color: #404040;
              border: 0;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              overflow: hidden;
            }
            
            select#lawyer_time_zone{
              width: 328px;
              background: url(time_select_bg.png) no-repeat;
            }
        }

        .pre-clause, .post-clause {
            display: block;
            text-align: center;
            font-size: 1.2em;
            margin: 20px 0px -20px;
        }

        .post-clause {
            margin: 10px 0px 10px;
        }


        input {
            &.name { background: url(icn_name.png) no-repeat 98% center white; }
            &.passw { background: url(icn_passw.png) no-repeat 98% center white; }
            &.email { background: url(icn_email.png) no-repeat 98% center white; }
            &.paypal { background: url(icn_paypal.png) no-repeat 98% center white; }
            &.phone { background: url(icn_phone.png) no-repeat 98% center white; }
            &.card { background: url(icn_card.png) no-repeat 98% center white; }
        }

     
        h4.error {
            color: #f00;
            margin-bottom: 2px;
            font-size: 1.3em;
        }
        ul.errors {
            font-size: 1.2em;
        }



    }

    &.payment {

        > div {
            padding: 15px 25px;
            width: 635px;
            background-color: #f8f8f8;
            margin-bottom: 0px;
        }

        form {

            > * {
                margin: 0px;
            }
            fieldset {
                float: left;
                border: none;
                padding: 0px;
                margin-bottom: 12px;
                &.personal-info { width: 340px; }
                &.card-info { width: 235px; }
            }

            input[type=text] {
                font-size: 1.2em;
                padding: 3px;
                margin: 6px 4px 6px 0px;
                width: 95%;

                &[name=first_name]  { width: 45%; }
                &[name=last_name]   { width: 45%; }
                &[name=city]        { width: 50%; }
                &[name=state]       { width: 15%; }
                &[name=postcode]    { width: 30%; }
                &[name=crc]         { width: 36%; }
            }

            label, .label { font-size: 1.2em; }
            .button { margin-right: 8px; }
        }
        .stripe_error {color:#ff0000; font-size: 1.2em;}
    }

    &.session-complete {
        .columns>div { width: 250px; }
        .center ul { text-align: left; }
    }
}





#schedule_session {
    padding: 0px 0px 20px 0px;
    width: 500px;
    //position:fixed;
    height: auto;
    margin-left: -250px;
    margin-top: -150px;
    textarea { width: 460px; height: 140px; margin: 4px 0px; margin-left:20px;}
    .button{
      padding-left:20px;
    }
    hr{
      margin:8px 0 8px;
    }
    .fine-print { font-size: 0.8em; padding-left:20px;}
    h3{
      border-bottom:1px solid #d6d6d6;
      padding: 17px 0 17px 20px;
      background: #fbfbfb; /* Old browsers */
      background: -moz-linear-gradient(top,  #fbfbfb 0%, #ececec 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #fbfbfb 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #fbfbfb 0%,#ececec 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #fbfbfb 0%,#ececec 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #fbfbfb 0%,#ececec 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#ececec',GradientType=0 ); /* IE6-8 */
    }
}

#splash {
    h1, h2 {
        font-weight: bold;
        margin: 2px 0px;
    }

    h1 { font-size: 3.35em; }
    h2 { font-size: 1.967em; }
    p  {
      font-size: 1.633em;
      margin: 0.6em 0;
    }
    small {
      display: block;
      font-size: 1.333em;
      margin-top: 1.4em;
    }

    a.button {
      font-weight: bold;
      font-size: 2em;
      margin: 0.5em 0 0em 0;
    }

    .inp {
        width: 30%;
        display: inline-block;
        label {
            display: block;
            font-size: 1.6em;
        }
    }

    form {
        margin: 30px 0px;
        .button { margin-top: 40px; }
    }
}

.selected-lawyers-caption {
  font-size: 1.5em;
  text-align: center;
  padding: 0.55em;
  border-bottom: 1px solid #CFCFCF;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

#page.signup #new_lawyer, #page.signup #new_user, #page.lawyer_subscribtion, #page.apply-form-wrapper,
.new_offering{
  margin-bottom:10px;
  .field_with_errors{
    input{
      border:1px solid #feacac;            
      -moz-box-shadow:0px 0px 3px 3px #FDE6E3;
      -webkit-box-shadow:0px 0px 3px 3px #FDE6E3;
      box-shadow:0px 0px 3px 3px #FDE6E3;
    }
    input.email, input.passw{
      margin-bottom:0;
    }
    input.phone{
      margin:10px 0;
    }
    label.message{
      -moz-box-shadow:0px 0px 5px 1px #ACACAC;
      -webkit-box-shadow:0px 0px 5px 1px #ACACAC;
      box-shadow:0px 0px 5px 1px #ACACAC;
      border:1px solid #c56464;
      color:#882b2b;
      background:image-url('error_notice_bg.png')repeat-x;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding:5px;
      margin-top:2px;
    }
    .error_notice{
      float: right;
      margin-right: -19px;
      label{
        float:right;
      }
      .arrow{
        margin-top: -5px;
        margin-left:74px;
        background:image-url('error_tooltip_arrow.png') no-repeat;
        display:block;
        width:11px;
        height:9px;
        position:absolute;
      }
    }
  }
  .user_rate{
    .field_with_errors{
      height: 70px;
      width:140px;
    }
    .error_notice{
    float: right;
    margin-right: -3px;
    }
  }
  #div_practice_areas, #div_states_barids{
    h2{
      margin:5px;
    }
  }
}

