@mixin rounded( $radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin inline-block {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}


#header, #page, #footer {
    &>div {
        width: 960px;
        margin: 0px auto;
    }
}

#header {
    height: 60px;
    border-bottom: solid 1px #b8b8b8;
    background: url(header_gradient.png) repeat-x bottom center white;
    font-size: 1.8em;
    text-align: center;
    color: #666;

    .home-link { float: left; }
    .links {
        float: right;
        a {
            margin: 0px 12px;
            &:last-child { margin-left: 2px; }
        }
    }

    &>div {
        line-height: 64px;
        img { vertical-align: middle; }
    }

    #slogan {
        font-size: 0.9em;
        display: inline-block;
        line-height: normal;
        text-align: center;
        margin: 15px 0px;
        span {
            display: block;
            font-size: 0.8em;
            font-style: italic;
        }
    }
}

body.users.home {
  #page > div {
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  .page {
    .filters {
      padding-top: 44px;

      .input {
        display: block;
        margin-bottom: 2.1667em;

        label {
          font-size: 1.5em;
          margin-bottom: 2px;
          display: block;
        }
      }
    }

    .inline-wrapper {
      position: relative;
      zoom: 1;

      .filters, .results {
        @include inline-block;
        vertical-align: top;
        letter-spacing: normal;
      }

      .filters {
        width: 20%;
      }

      .results {
        width: 78%;
      }
    }
  }
}

#page {
    background: url(page_gradient.png) repeat-x top center white;
    padding: 15px 0px 5px;
    min-height: 400px;
    > div {
        border: solid 1px #b8b8b8;
        background-color: #fff;
        @include rounded( 8px );

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .inner {
        width: 620px;
        margin: 20px auto;

        h2, h3 {
            font-weight: normal;
        }

        h3 {
            font-size: 1.5em;
            display: inline-block;
            margin: 8px 0px;
        }

        &.agreement {
            textarea {
                width: 100%;
                height: 320px;
            }

            input[type=submit] {
                display: block;
            }
        }

        &.session-complete {
            text-align: left;
            font-size: 1.2em;
            padding-bottom: 32px;
            .column {
                margin-right: 40px;
                float: left;
            }

            a {
                display: block;
                margin: 12px 0px;
            }
        }
    }


    .columns {
        padding: 16px;
        font-size: 1.35em;
        &>.center { text-align: center; }
        &>.left { float: left; }
        &>.right { float: right; }
        &>.left, &>.right { width: 24%; }
    }

    #filters {
        text-align: center;
        background-color: #EFEFEF;
        border-bottom: 1px solid #B8B8B8;
        @include rounded( 8px 8px 0 0 );
        color: black !important;
        font-size: 1.65em;
        height: 40px;
        line-height: 40px;
        padding: 0 12px;

        span > select {
          margin-right: 1.1667em;
        }
    }

    &.session-summary {
        > div {
            padding: 30px 60px;
            font-size: 1.4em;
            min-height: 350px;
            > ul {
                li {
                    display: inline;
                    font-size: 1.15em;
                    margin-right: 8px;
                    font-weight: bold;
                    a { font-weight: normal; }
                }
            }

            h3 { color: #f00; }
            p { font-size: 1.1em; }
        }

        table.summary {
            text-align: left;
            width: 100%;
            margin-bottom: 20px;
            .total {
                font-weight: bold;
            }
        }
    }

    &.about {
        > div {
            background-color: transparent;
            border: none;
            padding: 40px 0px;
            font-size: 1.5em;
            .nav, .content {
                float: left;
            }

            .nav {
                width: 280px;
                h1 {
                    font-weight: normal;
                    margin: 0px;
                }

                span, a {
                    font-size: 1.2em;
                    display: block;
                    margin: 12px 0px;
                }
            }

            .content {
                font-size: 0.9em;
                padding-top: 16px;
                width: 400px;
                h3 { margin: 0px; }
            }
        }
    }
    &.home {
        > div {
            border: none;
            background: transparent;
            padding: 50px 0px;
        }

        .image-carousel { 
          float: right;

          .carousel-image {
            text-align: center;
          }
        }

        #splash {
            float: left;
            width: 50%;
            padding: 60px 0px 0px 12px;
            text-align: center;
        }
    }

    &.signup, &.payment {
        > h1, > h3 {
            text-align: center;
            font-weight: normal;
            margin: 4px 0px;
            font-size: 1.5em;
        }
        > h1 { font-size: 3em; margin-top: 20px; }
        > h3 { margin-bottom: 20px; }

        > div {
            width: 416px;
            padding: 20px 45px;
            margin-bottom: 25px;
        }

        form {
            > * { margin: 0px 0px 12px -8px; }

            .field_with_errors {
              display: inline-block;
              // margin: 0 0 0 -8px !important;
            }

            label.message {
              color: #c00;
              display: inline-block;
            }
            
            .dialog-window {
              margin-left: -180px;
              margin-top: -180px;
              // display: inline-block;
            } 

            #div_states_barids, #div_practice_areas {
              font-size: 1.6em;
            }

            #lawyer_rate {
              width: 120px !important;
            }

            .rate_hint {
              display: inline-block;
              margin-left: 10px;
              font-size: 1.5em;
              color: #B8B8B8;
            }

            input[type=text], input[type=password],input[type=email],input[type=number], textarea {
                font-family: arial, verdana, tahoma;
                width: 100%;
                border: 1px solid #B8B8B8;
                @include rounded( 4px );
                font-size: 1.5em;
                margin-bottom: 10px;
                padding: 8px;
            }

            a {
                display: block;
                font-size: 1.63em;

                &.button {
                  font-size: 1.3em;
                  text-align: left;
                  letter-spacing: normal;
                }
            }

            .file_select_wrapper {
              width: 100%;
              position: relative;
              zoom: 1;
              display: block;
              letter-spacing: 0;

              .file_select_value, .file_select_button {
                @include inline-block;
                letter-spacing: normal;                
              }

              .file_select_value {
                font-size: 1.16667em;
                color: #222;
                padding: 2px;
                background-color: #f7eec6;
                @include rounded(3px);
              }
            }

            .file_select_button {
              overflow: hidden;
              cursor: pointer;
              font-size: 13px;
              position: relative;
              margin: 0 1em 0.5em 0;

              ins {
                text-decoration: none;
                cursor: pointer;
              }

              input[type="file"] {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                -moz-opacity: 0;
                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
              }
            }

            ul.name_fields {
              letter-spacing: 0;
              position: relative;
              list-style: none;
              padding: 0;
              // margin-bottom: 0;
              width: 100%;

              li {
                @include inline-block;
                vertical-align: top;
                letter-spacing: normal;
                width: 148px;
                margin-right: 24px;

                &.last-child {
                  margin-right: 0 !important;
                }

                input[type="text"] {
                  margin-bottom: 0;
                }

                label.message {
                  margin-top: 10px;
                }
              }
            }
        }

        .pre-clause, .post-clause {
            display: block;
            text-align: center;
            font-size: 1.2em;
            margin: 20px 0px -20px;
        }

        .post-clause {
            margin: 10px 0px 10px;
        }


        input {
            &.name { background: url(icn_name.png) no-repeat 98% center white; }
            &.passw { background: url(icn_passw.png) no-repeat 98% center white; }
            &.email { background: url(icn_email.png) no-repeat 98% center white; }
            &.paypal { background: url(icn_paypal.png) no-repeat 98% center white; }
        }

        .fine-print {
            font-size: 1.2em;
            color: #b8b8b8;
        }

        h4.error {
            color: #f00;
            margin-bottom: 2px;
            font-size: 1.3em;
        }
        ul.errors {
            font-size: 1.2em;
        }



    }

    &.payment {

        > div {
            padding: 15px 25px;
            width: 635px;
            background-color: #f8f8f8;
            margin-bottom: 0px;
        }

        form {

            > * {
                margin: 0px;
            }
            fieldset {
                float: left;
                border: none;
                padding: 0px;
                margin-bottom: 12px;
                &.personal-info { width: 340px; }
                &.card-info { width: 235px; }
            }

            input[type=text] {
                font-size: 1.2em;
                padding: 3px;
                margin: 6px 4px 6px 0px;
                width: 95%;

                &[name=first_name]  { width: 45%; }
                &[name=last_name]   { width: 45%; }
                &[name=city]        { width: 50%; }
                &[name=state]       { width: 15%; }
                &[name=postcode]    { width: 30%; }
                &[name=crc]         { width: 36%; }
            }

            label, .label { font-size: 1.2em; }
            .button { margin-right: 8px; }
        }
        .stripe_error {color:#ff0000; font-size: 1.2em;}
    }

    &.session-complete {
        .columns>div { width: 250px; }
        .center ul { text-align: left; }
    }
}



#footer {
    font-size: 1.25em;
    padding-bottom: 20px;
    .copyright { float: left; }

    ul.links {
        margin: 0px;
        padding: 0px;
        list-style: none;
        float: right;

        li {
            display: inline;
            margin-right: 10px;
            &:after { content: '|'; margin-left: 10px;}
            &:last-child:after { content: none; }
        }
    }

}

#schedule_session {
    width: 500px;
    height: auto;
    margin-left: -250px;
    margin-top: -150px;
    textarea { width: 100%; height: 140px; margin: 4px 0px;}
    .fine-print { font-size: 0.8em; }
}

#splash {
    h1, h2 {
        font-weight: bold;
        margin: 2px 0px;
    }

    h1 { font-size: 3.35em; }
    h2 { font-size: 1.967em; }
    p  { 
      font-size: 1.633em; 
      margin: 0.6em 0; 
    }
    small { 
      display: block; 
      font-size: 1.333em; 
      margin-top: 1.4em; 
    }

    a.button {
      font-weight: bold;
      font-size: 2em;
      margin: 0.5em 0 0em 0;
    }

    .inp {
        width: 30%;
        display: inline-block;
        label {
            display: block;
            font-size: 1.6em;
        }
    }

    form {
        margin: 30px 0px;
        .button { margin-top: 40px; }
    }
}

.selected-lawyers-caption {
  font-size: 1.5em;
  text-align: center;
  padding: 0.55em;
  border-bottom: 1px solid #CFCFCF;
}
