// Place all the styles related to the firms controller here.
// They will automatically be included in application.css.

// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin:0;
  padding:0;
  background:#fff;
  font-family:calibri;
}
#page{

background:#fff;
  margin:0 auto;
  width:80%;
  font-size:.74em;
  #header{
    background: #fafafa;
    height:80px;
    #hleft{
      float:left;
      width:48%;
      h2{
     
        a{
          margin-left: 20px;
          text-decoration: none;
          color: #ccc;
          font-size: 2em;
          #sp1{
            color: #E95D2F;
          }
          #sp2{
            color:#60340D;
          }
        }
      }
    }
    #hright{
      margin:20px 20px 0 0;
      width:48%;
      float:right;
      text-align:right;
    }
  }



.error_explanation {
  width: 70%;
  border: 2px solid #fafafa;
  padding-bottom: 0;
  margin-bottom: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
 
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0px;
    background: #fafafa;
    color: #000; }
   }
    
  ul {
    font-size: 12px;
    list-style: disc;
   margin:0;
   padding:10px;
   
   li {
   margin:2px 10px;
    color:#E84067;
     }
  }



  #content{
  //background:#fcfcfc;
  min-height:400px;
    .notice{
      color:#FA0E0E;
      font-size:1.2em;
    }

    .left{
      width:15%;
      padding:5px;
      float:left;
    }

  .right{
    width:80%;
    float:left;
    padding:5px;
    .list_item{
      border-bottom:solid 1px #000;
      margin:5px 0;
      padding:10px 0;
    }
    form{
 
 
      padding:20px;
      .f_label{
        height: 15px;
        width: 250px;
        padding: 2px;
        float:left;
        
        margin-right: 15px;
    }
    
    }
  }
}

#footer{
    height:25px;
    border-top:solid 1px #dadada;
       
    #ftleft{
      text-align:left;
      float:left;
      width:30%;
      font-weight:bold;
    }
    #ftright{
    float:right;
    width:69%;
    text-align:right;
    a{
    padding:0 4px;
      
    }
      
    }
    
  }
}
.clear{
  clear:both;
  
  
}

